<!--RESOURCES
Bootstrap Pricing Table: https://frontendor.com/blog/bootstrap-pricing-table-snippets/
Bootstrap Register Form: https://getbootstrap.com/docs/5.3/forms/layout/#forms
FAQs Accordion: https://www.freecodecamp.org/news/build-an-accordion-menu-using-html-css-and-javascript/
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wheelie Wash Checkout</title>
    <meta name="description" content="Wheelie Wash Subscription & Stripe Checkout" />
    <link rel="icon" href="/stripe/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stripe/css/normalize.css" />
    <link rel="stylesheet" href="/stripe/css/global_master.css" />
    <!--
    NOTE: importing bootstrap changes the width of the plan containers, oddly with 
    the first container being slightly wider than the rest.
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    -->
    <link rel="preconnect" href="https://rsms.me/">  <!--Inter Font-->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">  <!--Inter Font-->
    
    <!--Leaflet Map API-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <!--END of Leaflet Map API-->
    <!--Bootstrap WTF-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '806363324415236');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=806363324415236&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->
  </head>
  <body>
    <div class="background">
      <header class="header">
        <div class="header__logo"></div>
        <div class="heading-1">
          <div class="h-style add-margin">
            Fresh Bins, Happy Home!
          </div>
          <div>
            Eco-Friendly Cleaning. Wash, Sanitise, Deodorise. No Residue.
          </div>
        </div>
        <div id="anchor-map"></div> <!-- Anchor Point -->
        <div class="service-container-1">
            <div class="panel pricing-table">
              <div class="paragraph-1">
                <div class="sub-heading-1">Serviced Areas For Subscription Customers Only</div>
                <hr>
                <div>
                  Note: Serviced areas apply to subscription customers only. For commercial and one-off cleans, areas not highlighted below can still be serviced.
                </div>
              </div>
              </hr>
              <div id="map"></div>
              <script src="/stripe/js/loadMap.js"></script>
            </div>
        </div>    
        <div class="header__title">Choose a plan</div>
      </header>
      <form action="/contact-us" method="POST">
        <input type="hidden" name="priceId" value="oneOff">
        <div class="service-container">
          <div class="panel pricing-table">
            <div id="anchor-gold"></div> <!-- Anchor Point -->
            <div class="pricing-plan">
              <div class="icon-alignment">
                <img src="/stripe/img/one-off.png" alt="" class="pricing-img">
              </div>
                <h2 class="pricing-header">One-Off</h2>
              <ul class="pricing-features">
                <div class="container.description">
                  <li class="pricing-features-item">One-off clean outside serviced area</li>
                  <li class="pricing-features-item">General Cleans</li>
                  <li class="pricing-features-item">Vacate</li>
                </div>  
              </ul>
              <div class="p-alignment">
                <span class="pricing-price one-off starts-at">$33</span>
                <div class="billing-frequency">One-off payment</div>
                <!--  href="#/", it might be part of a JavaScript-based routing system
                  in a single-page application (SPA). In such applications, changes in
                  the part of the URL after the # are used to dynamically load different 
                  content without refreshing the page.-->
                <button type="submit"  class="pricing-button">Enquire</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form action="/contact-us" method="POST">
        <input type="hidden" name="priceId" value="commercial">
        <div class="service-container">
          <div class="panel pricing-table">
            <div class="pricing-plan">
              <div class="icon-alignment">
                <img src="/stripe/img/commercial.png" alt="" class="pricing-img">
              </div> 
              <h2 class="pricing-header">Commercial Cleans</h2>
              <ul class="pricing-features">
                <div class="container.description">
                  <li class="pricing-features-item">Customised Cleaning Schedule</li>
                  <li class="pricing-features-item">One-off Deep Cleans</li>
                  <li class="pricing-features-item">Prevent Odours and Pest Infestations</li>
                  <li class="pricing-features-item">Ensure Compliance with Health Standards</li>
                  <li class="pricing-features-item">Cleaning of Small to Large Commercial Waste Bins</li>
                </div>  
              </ul>
              <div class="p-alignment">
                <span class="pricing-price one-off from">$10</span>
                <!--  href="#/", it might be part of a JavaScript-based routing system
                  in a single-page application (SPA). In such applications, changes in
                  the part of the URL after the # are used to dynamically load different 
                  content without refreshing the page.-->
                <button type="submit" class="pricing-button">Enquire</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form action="/create-checkout-session" method="POST">
        <input type="hidden" id="comboPrice" name="priceId">
        <div class="service-container">
          <div class="panel pricing-table">
            <div class="pricing-plan">
              <div class="icon-alignment">
                <img src="/stripe/img/bronze.png" alt="" class="pricing-img">
              </div>
              <h2 class="pricing-header">Bronze Subscription</h2>
              <ul class="pricing-features">
                <div class="container.description">
                  <li class="pricing-features-item">Clean 1 to 4 bins</li>
                  <li class="pricing-features-item">Cancel Anytime</li>
                </div>
              </ul>
              <div class="p-alignment">
                <span class="pricing-price starts-at">$18</span>
                <div class="billing-frequency">Billed Monthly</div>
                <button href="#/" class="pricing-button" id="combo-plan-btn">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form action="/create-checkout-session" method="POST">
        <input type="hidden" id="silverPrice" name="priceId">
        <div class="service-container">
          <div class="panel pricing-table">
            <div class="pricing-plan">
              <div class="icon-alignment">
                <img src="/stripe/img/silver.png" alt="" class="pricing-img">
              </div>
              <h2 class="pricing-header">Silver Subscription</h2>
              <ul class="pricing-features">
                <div class="container.description">
                  <li class="pricing-features-item">3 Bins Cleaned Quarterly</li>
                  <li class="pricing-features-item">Plus 1 Free FOGO Bin Each Clean Cycle</li>
                </div>
              </ul>
              <div class="p-alignment">
                <span class="pricing-price silver">$46</span>            
                <div class="billing-frequency">Billed Annually</div>
                <button href="#/" class="pricing-button" id="silver-plan-btn">Get Started</button>
              </div>
            </div>  
          </div>
        </div>
      </form>      
      <form action="/create-checkout-session" method="POST">
        <input type="hidden" id="goldPrice" name="priceId">
        <div class="service-container">
          <div class="panel pricing-table">
            <div>
              <div class="icon-alignment">
                <img src="/stripe/img/gold.png" alt="" class="pricing-img">
              </div>
              <h2 class="pricing-header">Gold Subscription</h2>
              <ul class="pricing-features">
                <div class="container.description">
                  <li class="pricing-features-item">3 Bins Cleaned Monthly</li>
                  <li class="pricing-features-item">Plus 1 Free FOGO Bin Each Clean Cycle</li>
                  <li class="pricing-features-item">No Transaction Fee</li>
                </div>
              </ul>
              <div class="p-alignment">
                <span class="pricing-price">$36</span>
                <div class="billing-frequency">Billed every 6 months</div>
                <button href="#/" class="pricing-button is-featured" id="gold-plan-btn">Get Started</button>
              </div> 
            </div>
          </div>
        </div>
      </form>
      <!-- ============== FAQs ============== -->
      <div class="service-container-1">
        <div id="faqs"></div> <!-- Anchor Point -->
        <a id="faqs_not_in_use"></a> <!-- Invisible Anchor Point -->
        <div class="panel faqs">
          <div class="accordion-body">
            <div class="accordion paragraph-1">
              
                <div class="sub-heading-1">Frequently Asked Questions</div>
              
                <hr>
              <div class="container-accord">
                <div class="label">What is United Wheelie Wash?</div>
                <div class="content">United Wheelie Wash is a professional wheelie bin cleaning service for residential and commercial customers. 
                  United Wheelie Wash has worked with a local fabricator to build a custom unit that carries and recycles its own water. 
                  Utilising high-pressure with biodegradable, environmentally safe solutions to clean, sanitise and deodorise your bins</div>
              </div>
              <hr>
              <div class="container-accord">
                <div class="label">Service Limitations</div>
                <div class="content">Our service is a roadside service. Our aim is to eventually provide service to all properties however, 
                  due to operational constraints and the safety of our team and road users, some locations may be deemed unsuitable. 
                  We have provided a map that highlights our current service area. You can find that <a href="#anchor-map">here</a>.
                  If your property does not show in our service area, please fill out our register your interest form below and we will follow up with you.
                  Whatever your situation we encourage you to contact us if you have any questions or concerns about the suitability of your property for our service.
                  If you have mistakenly made an order without confirming the service area and your payment has already been processed, we will issue a full refund. 
                  You will be notified within seven days about the service limitation and the refund process.
                </div>
              </div>

              <hr>
              <div class="container-accord">
                <div class="label">Register your interest</div>
                
                <div class="content">
                  If your street is not highlighted on our map, this means we currently do not service your street under our subscription.
                  You can register your interest below and we will be in touch as we expand.
                  
                  {% include "/stripe/_form_faqs.html" %}
                  
                </div>
                <div id="anchor-interest"></div> <!--Anchor Point-->

              <!--Closing this div keeps the accordion below open-->

              <hr>
              <div class="container-accord">
                <div class="label">How much does it cost?</div>
                <div class="content">
                  <p>Residential:</p>
                  <p>We offer three subscription plans with the intent for it to be as easy and stress free as possible to have clean healthy bins according to your usage. Gold, Silver or Bronze.</p>
                  <p><span class="faqs-text-style">Gold</span> subscription is the best value costing only $12 per bin with red, yellow and green bins cleaned once per month (This includes one free FOGO bin clean per cycle). This is billed every 6 months.</p>
                  <p>Silver subscription costs $15 per bin with red, yellow and green bins cleaned once per quarter (This includes one free FOGO bin clean per cleaning cycle). This is billed annually.</p>
                  <p>Bronze subscription costs depends on the number of bins you would like cleaned per month. This is billed monthly.</p>
                  <table>
                    <tr> 
                      <th></th>
                      <th class="table-header">Gold</th>
                      <th class="table-header">Silver</th>
                      <th class="table-header">Bronze</th>
                    </tr>
                    <tr>
                      <td class="table-row">Cost per Bin</td>
                      <td class="table-value">$12</td>
                      <td class="table-value">$15</td>
                      <td class="table-value">$15 - $18</td>
                    </tr>
                    <tr>
                      <td class="table-row">Subscription Cost</td>
                      <td class="table-value">$36/month</td>
                      <td class="table-value">$45/quarter</td>
                      <td class="table-value">$18-$45/month</td>
                    </tr>
                    <tr>
                      <td class="table-row">Cleaning Frequency</td>
                      <td class="table-value">Monthly</td>
                      <td class="table-value">Quarterly</td>
                      <td class="table-value">Monthly</td>
                    </tr>
                    <tr>
                      <td class="table-row">Billing Frequency</td>
                      <td class="table-value">Half-Yearly</td>
                      <td class="table-value">Annually</td>
                      <td class="table-value">Monthly</td>
                    </tr>
                  </table>
                </div>
              </div>
              <hr>
              <div class="container-accord">
                <div class="label">Service Cancellation Policies</div>
                <div class="content">
                  <p>We strive to offer flexible and transparent cancellation policies tailored to meet the needs of all our customers.
                    Please review the details for each type of service below:</p>
                  <p><b>Gold Subscription</b></p>
                  <ul>
                    <li>Details: $36 per month, billed every six months at $216, covering 12 services annually.</li>
                    <li>Cancellation: You may cancel anytime. The cancellation takes effect immediately upon confirmation.</li>
                    <li>Refunds: Eligible pro rata refunds are available after receiving six services. Refunds for unused months will be processed within 14 days.</li>
                    <li>Renewal: Automatically renews at the end of the annual billing cycle unless cancelled before the renewal date.</li>
                  </ul>
                  <p><b>Silver Subscription</b></p>
                  <ul>
                    <li>Details: $45 per quarter, billed annually at $180, covering four quarterly services.</li>
                    <li>Cancellation: You may cancel anytime. The cancellation takes effect immediately upon confirmation.</li>
                    <li>Refunds: Eligible pro rata refunds are available after receiving two services. Refunds for unused services will be processed within 14 days.</li>
                    <li>Renewal: Automatically renews at the end of the annual billing cycle unless cancelled before the renewal date.</li>
                  </ul>
                  <p><b>Bronze Subscription</b></p>
                  <ul>
                    <li>Details: Recurring monthly service priced between $15 and $18 per bin, depending on the number of bins required. 
                      A minimum subscription period of two months is required, and subscribers are obligated to fulfill this commitment before cancellation is permitted.</li>
                    <li>Cancellation: You may cancel only after completing the two-month minimum subscription period.
                      The cancellation takes effect at the end of the current monthly billing cycle.
                    </li>
                    <li>Renewal: Automatically renews monthly unless cancelled before the renewal date.</li>
                  </ul>
                  <p><b>One-Off Services</b></p>
                  <ul>
                    <li>Cancellation: Cancellations made up to 48 hours before the scheduled service time will receive a full refund. Cancellations within 48 hours are not eligible for a refund.</li>
                    <li>Refund Processing: Refunds for eligible cancellations will be processed within 14 days.</li>
                    <li>Rescheduling: Rescheduling requests up to 48 hours before the scheduled service are penalty-free. Late rescheduling requests may incur additional fees.</li>
                  </ul>
                  <p><b>Exceptions</b></p>
                  <ul>
                    <li>Exceptional cases will be reviewed individually for resolution.</li>
                  </ul>
                  <p><b>How to cancel my subscription or service?</b></p>
                    <p>You can manage your account including cancellation by accessing our 
                      <a href="https://billing.stripe.com/p/login/00g7sU5kQ0ga5tS8ww" target="_blank" rel="noopener">Customer Portal</a>
                    </p>
                </div>
              </div>
              <hr>
              
              <a href="#anchor-gold" class="pricing-button">Choose a plan</a>
              
            </div>
          </div>
          <script src="/stripe/js/faqs.js" type="text/javascript"></script>
        </div>
      </div>
      
      <div id="error-message" class="error-message"></div>
      <!-- If Flask debug=True (export FLASK_CONFIG=development to set debug True) -->
      <!-- Resource: https://realpython.com/flask-javascript-frontend-for-rest-api/#step-2-build-the-front-end-components -->
      {% if config['DEBUG'] %}
        {% include "/stripe/_debug.html" %}
      {% endif %}
      
    </div>
    <script src="stripe/js/forms.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/stripe/js/script.js"></script>
  </body>  
</html>