<!--RESOURCES
Bootstrap Pricing Table: https://frontendor.com/blog/bootstrap-pricing-table-snippets/
Bootstrap Register Form: https://getbootstrap.com/docs/5.3/forms/layout/#forms
FAQs Accordion: https://www.freecodecamp.org/news/build-an-accordion-menu-using-html-css-and-javascript/
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>United Wheelie Wash</title>
    <meta name="description" content="Wheelie Wash Subscription & Stripe Checkout" />
    <link rel="icon" href="/stripe/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stripe/css/normalize.css" />
    <link rel="stylesheet" href="/stripe/css/global_new.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--
    NOTE: importing bootstrap changes the width of the plan containers, oddly with 
    the first container being slightly wider than the rest.
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    -->
    <link rel="preconnect" href="https://rsms.me/">  <!--Inter Font-->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">  <!--Inter Font-->
    <!--Bootstrap WTF-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SVW7SYM8G2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SVW7SYM8G2');
    </script>
    
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '806363324415236');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=806363324415236&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->
  </head>
  <body>
    <div class="background">
      <header class="header">
        <div class="header__logo"></div>
        <div class="heading-1">
          <div class="h-style add-margin">
            Fresh Bins, Happy Home!
          </div>
          <div>
            Servicing Augusta-Margaret River Shire.
          </div>
        </div>
        <div id="anchor-map"></div> <!-- Anchor Point -->
      </header>
      <div class="img-container">
        <img src="stripe/img/ww3.png" class="img-fluid" alt="Wheelie Bin Cleaning Margaret River">
      </div>
      <div class="service-container">
        <div class="panel">
          <div class="service-container">
            <div class="panel">
              <div class="container text-center">
                <div class="row mt-4">
                  <div class="col-md">
                    <div class="paragraph-0 mb-3 fs-5 fw-semibold">
                      <i class="bi bi-truck custom-icon"></i>
                      <div class="h-style h-size-1 add-margin">Mobile Service</div>
                      <div>We bring everything,</div>
                      <div>including our own water.</div>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="paragraph-0 mb-3 fs-5 fw-semibold">
                      <i class="bi bi-leaf custom-icon"></i>
                      <div class="h-style h-size-1 add-margin">Eco-Friendly</div>
                      <div>We recycle 99% of the water.</div>
                      <div>No mess on your driveway.</div>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="paragraph-0 mb-3 fs-5 fw-semibold">
                      <i class="bi bi-geo-alt-fill custom-icon"></i>
                      <div class="h-style h-size-1 add-margin">Local</div>
                      <div>We are a family-owned and</div>
                      <div>operated business.</div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md">
                    <div class="paragraph-0 mb-3 fs-5 fw-semibold">
                      <i class="bi bi-ban custom-icon"></i>
                      <div class="h-style h-size-1 add-margin">Anti Bacterial</div>
                      <div>Your bin is desinfected</div>
                      <div>using hospital-grade,</div>
                      <div>biodegradable products.</div>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="paragraph-0 mb-3 fs-5 fw-semibold">
                      <i class="bi bi-check2-circle custom-icon"></i>
                      <div class="h-style h-size-1 add-margin">Smells Fresh</div>
                      <div>Odours are neutralised,</div>
                      <div>keeping bins fresh.</div>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="paragraph-0 mb-3 fs-5 fw-semibold">
                      <i class="bi bi-award custom-icon"></i>
                      <div class="h-style h-size-1 add-margin">Approved</div>
                      <div>We are Council and</div>
                      <div>Water Corp approved.</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <br>    
      <div id="anchor-gold"></div> <!-- Anchor Point -->

      <div class="header__title text-center mt-3 mb-3">One-Off Cleans</div>
      <div class="service-container">
        <div class="panel pricing-table">
          <div class="container text-center">
            <div class="row mt-4">
              <div class="p-text-3">Simple One-Off Payment</div>
              <div class="col-md">
                <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                  1 Bin
                </div>
                <span class="pricing-price">$33</span>
                <div>
                  <form action="/create-checkout-session" method="POST">
                    <input type="hidden" id="oneBinOneOff" name="priceId">
                    <button href="#/" class="pricing-button">Book Now</button>
                  </form>
                </div>
                <hr class="mobile-line mb-5">
              </div>
                <div class="col-md">
                  <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                    2 Bins
                  </div>
                  <span class="pricing-price">$56</span>
                  <div>
                    <form action="/create-checkout-session" method="POST">
                      <input type="hidden" id="twoBinsOneOff" name="priceId">
                      <button href="#/" class="pricing-button">Book Now</button>
                    </form>
                  </div>
                  <hr class="mobile-line mb-5">
                </div>
              <div class="col-md">
                <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                  3 Bins  
                </div>
                <span class="pricing-price">$66</span>
                <div>
                  <form action="/create-checkout-session" method="POST">
                    <input type="hidden" id="threeBinsOneOff" name="priceId">
                    <button href="#/" class="pricing-button">Book Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="header__title text-center mt-3 mb-3">One Bin Cleaned</div>
      <div class="service-container">
        <div class="panel pricing-table">
          <div class="container text-center">
            <div class="row mt-4">
                <div class="p-text-3">Save when you pre-pay 6 cleans.</div>
                <div class="col-md">
                  <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                    Every 2 Weeks
                  </div>
                  <span class="pricing-price">$14</span>
                  <div>
                    <form action="/create-checkout-session" method="POST">
                      <input type="hidden" id="oneBin2weeks" name="priceId">
                      <button href="#/" class="pricing-button is-featured">Book Now</button>
                    </form>
                  </div>
                  <hr class="mobile-line mb-5">
                </div>
                <div class="col-md">
                  <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                    Every 4 Weeks
                  </div>
                  <span class="pricing-price">$18</span>
                  <div>
                    <form action="/create-checkout-session" method="POST">
                      <input type="hidden" id="oneBin4weeks" name="priceId">
                      <button href="#/" class="pricing-button">Book Now</button>
                    </form>
                  </div>
                  <hr class="mobile-line mb-5">
                </div>
              <div class="col-md">
                <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                  Every 8 weeks  
                </div>
                <span class="pricing-price">$28</span>
                <div>
                  <form action="/create-checkout-session" method="POST">
                    <input type="hidden" id="oneBin8weeks" name="priceId">
                    <button href="#/" class="pricing-button">Book Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__title text-center mt-3 mb-3">Two Bins Cleaned</div>
      <div class="service-container">
        <div class="panel pricing-table">
          <div class="container text-center">
            <div class="row mt-4">
                <div class="p-text-3">Save when you pre-pay 6 cleans.</div>
                <div class="col-md">
                  <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                    Every 2 Weeks
                  </div>
                  <span class="pricing-price">$24</span>
                  <div>
                    <form action="/create-checkout-session" method="POST">
                      <input type="hidden" id="twoBins2weeks" name="priceId">
                      <button href="#/" class="pricing-button is-featured">Book Now</button>
                    </form>
                  </div>
                  <hr class="mobile-line mb-5">
                </div>
                <div class="col-md">
                  <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                    Every 4 Weeks
                  </div>
                  <span class="pricing-price">$33</span>
                  <div>
                    <form action="/create-checkout-session" method="POST">
                      <input type="hidden" id="twoBins4weeks" name="priceId">
                      <button href="#/" class="pricing-button">Book Now</button>
                    </form>
                  </div>
                  <hr class="mobile-line mb-5">
                </div>
              <div class="col-md">
                <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                  Every 8 weeks  
                </div>
                <span class="pricing-price">$46</span>
                <div>
                  <form action="/create-checkout-session" method="POST">
                    <input type="hidden" id="twoBins8weeks" name="priceId">
                    <button href="#/" class="pricing-button">Book Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__title text-center mt-3 mb-3">Three Bins Cleaned</div>
      <div class="service-container">
        <div class="panel pricing-table">
          <div class="container text-center">
            <div class="row mt-4">
              <div class="p-text-3">Save when you pre-pay 6 cleans.</div>
                <div class="col-md">
                  <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                    Every 2 Weeks
                  </div>
                  <span class="pricing-price">$33</span>
                  <div>
                    <form action="/create-checkout-session" method="POST">
                      <input type="hidden" id="threeBins2weeks" name="priceId">
                      <button href="#/" class="pricing-button is-featured">Book Now</button>
                    </form>
                  </div>
                  <hr class="mobile-line mb-5">
                </div>
                <div class="col-md">
                  <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                    Every 4 Weeks
                  </div>
                  <span class="pricing-price">$45</span>
                  <div>
                    <form action="/create-checkout-session" method="POST">
                      <input type="hidden" id="threeBins4weeks" name="priceId">
                      <button href="#/" class="pricing-button">Book Now</button>
                    </form>
                  </div>
                  <hr class="mobile-line mb-5">
                </div>
              <div class="col-md">
                <div class="paragraph-0 mb-3 fs-4 fw-semibold">
                  Every 8 weeks  
                </div>
                <span class="pricing-price">$57</span>
                <div>
                  <form action="/create-checkout-session" method="POST">
                    <input type="hidden" id="threeBins8weeks" name="priceId">
                    <button href="#/" class="pricing-button">Book Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__title text-center mt-3 mb-3">Commercial Cleans</div>
      <div class="service-container">
        <div class="panel pricing-table">
          <div class="container text-center">
            <div class="row mt-4">
                <div class="col-md">
                  <div class="p-text-3">
                    One-off and scheduled cleans available
                  </div>
                  <span class="pricing-price from">$10</span>
                  <div>
                    <form action="/contact-us" method="POST">
                      <input type="hidden" name="priceId" value="commercial">
                      <button href="#/" class="pricing-button is-featured">Book Now</button>
                    </form>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service-container">
        <div class="container text-center">
          <div class="row mt-4">
            <div class="col-sm">
              <div class="header__title_grey text-center mt-1 mb-3">Don't want to order your clean online?</div>
              <div class="d-block d-md-none mb-5"></div> <!-- Break with margin on mobile -->
              <form action="/contact-us" method="POST">
                <input type="hidden" name="priceId" value="oneOff">
                <button type="submit" class="pricing-button-large">Click here to contact us for offline orders</button>
              </form>
            </div>
            <div class="col-sm">
              <div class="header__title_grey text-center mt-1 mb-3">Need more than 3 bins cleaned?</div>
              <div class="d-block d-md-none mb-5"></div> <!-- Break with margin on mobile -->
              <form action="/contact-us" method="POST">
                <input type="hidden" name="priceId" value="oneOff">
                <button type="submit" class="pricing-button-large">Click here to contact us for a custom clean</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- ============== FAQs ============== -->
      <div class="service-container-1">
        <div id="faqs"></div> <!-- Anchor Point -->
        <a id="faqs_not_in_use"></a> <!-- Invisible Anchor Point -->
        <div class="panel faqs">
          <div class="accordion-body">
            <div class="accordion paragraph-1">
              
                <div class="sub-heading-1">Frequently Asked Questions</div>
              
                <hr>
              <div class="container-accord">
                <div class="label">What is United Wheelie Wash?</div>
                <div class="content">United Wheelie Wash is a professional wheelie bin cleaning service for residential and commercial customers. 
                  United Wheelie Wash has worked with a local fabricator to build a custom unit that carries and recycles its own water. 
                  Utilising high-pressure with biodegradable, environmentally safe solutions to clean, sanitise and deodorise your bins</div>
              </div>
              <hr>
              <div class="container-accord">
                <div class="label">Service Limitations</div>
                <div class="content">This service is intended for roadside provision. While it is intended to be available to all properties,
                  operational constraints and safety considerations for staff and road users may make certain locations unsuitable.
                  For questions regarding property suitability, please contact us. 
                  If payment has been made and the property is determined to be unsuitable for service, a full refund will be issued.
                  Notification of the service limitation and the refund process will be provided within seven days. 
                </div>
              </div>
              <hr>
              <div class="container-accord">
                <div class="label">Contact Us</div>
                
                <div class="content">
                  If you're unsure whether your property is eligible for our service,
                  have any questions, or would like to request a custom clean,
                  please fill out the form below and we’ll get back to you soon.
                  
                  {% include "/stripe/_form_faqs.html" %}
                  
                </div>
                <div id="anchor-interest"></div> <!--Anchor Point-->

              <!--Closing this div keeps the accordion below open-->
              <hr>
              <div class="container-accord">
                <div class="label">Service Cancellation Policies</div>
                <div class="content">
                  <p>We strive to offer flexible and transparent cancellation policies tailored to meet the needs of all our customers.
                    Please review the details for each type of service below:</p>
                  <p><b>One-Off Services</b></p>
                  <ul>
                    <li>Cancellation: Cancellations made up to 48 hours before the scheduled service time will receive a full refund. Cancellations within 48 hours are not eligible for a refund.</li>
                    <li>Refund Processing: Refunds for eligible cancellations will be processed within 14 days.</li>
                    <li>Rescheduling: Rescheduling requests up to 48 hours before the scheduled service are penalty-free. Late rescheduling requests may incur additional fees.</li>
                  </ul>
                  <p><b>Prepaid Services </b></p>
                  <p>Enjoy discounted rates when you prepay for 6 cleaning sessions.
                    Pricing depends on both the number of bins and how often you schedule a clean.
                    For a detailed breakdown, please consult our price chart above.
                  </p>
                  <p><b>Cancellation</b></p>
                  <p>You can cancel your prepaid plan at any time, with the cancellation taking
                    effect as soon as your request is confirmed.
                  </p>
                  <p><b>Refunds</b></p>
                  <p>If you have completed at least 3 cleans, you are eligible for a pro-rated refund for any unused sessions.
                    Refunds will be issued within 14 days.
                  </p>
                  <p><b>Renewal</b></p>
                  <p>Your plan will automatically renew after the sixth cleaning session unless you cancel beforehand.
                    We’ll send you a reminder prior to renewal, giving you the opportunity to adjust or
                    discontinue your service.
                  </p>
                  <p><b>Exceptions</b></p>
                  <p>Exceptional cases will be reviewed individually for resolution.</p>
                  <p><b>How to cancel my subscription or service?</b></p>
                    <p>You can manage your account including cancellation by accessing our 
                      <a href="https://billing.stripe.com/p/login/00g7sU5kQ0ga5tS8ww" target="_blank" rel="noopener">Customer Portal</a>
                    </p>
                </div>
              </div>
              <hr>
              
              <a href="#anchor-gold" class="pricing-button">Choose a plan</a>
              
            </div>
          </div>
          <script src="/stripe/js/faqs.js" type="text/javascript"></script>
        </div>
      </div>
      
      <div id="error-message" class="error-message"></div>
      <!-- If Flask debug=True (export FLASK_CONFIG=development to set debug True) -->
      <!-- Resource: https://realpython.com/flask-javascript-frontend-for-rest-api/#step-2-build-the-front-end-components -->
      {% if config['DEBUG'] %}
        {% include "/stripe/_debug.html" %}
      {% endif %}
      
    </div>
    <script src="stripe/js/forms.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/stripe/js/script_new.js"></script>
  </body>  
</html>