{% extends "database/base.html" %}
<!--{% import "bootstrap/wtf.html" as wtf %}-->

{% block title %}Customer List{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><h1>Customers List</h1></h1>
</div>
    <body>
        <!--Check Boxes For Column Display Selection-->
        <div id="columnSelection">
            <label><input type="checkbox" id="nameCheckbox" checked>Name</label>
            <label><input type="checkbox" id="emailCheckbox" checked>Email</label>
            <label><input type="checkbox" id="mobileCheckbox" checked>Phone</label>
            <label><input type="checkbox" id="cus_idCheckbox" unchecked>Stripe_Cus.ID</label>

            <label><input type="checkbox" id="addressCheckbox" checked>Full Address</label>
            <label><input type="checkbox" id="streetCheckbox" unchecked>Street</label>
            <label><input type="checkbox" id="cityCheckbox" unchecked>City</label>
            <label><input type="checkbox" id="postcodeCheckbox" unchecked>Postcode</label>
            
            <label><input type="checkbox" id="subscriptionCheckbox" checked>Subscription</label>
            <label><input type="checkbox" id="binCheckbox" checked>Bin Collection</label>
            <label><input type="checkbox" id="cleandateCheckbox" unchecked>Clean Date</label>
            <label><input type="checkbox" id="invoiceURLCheckbox" checked>Invoice URL</label>
            <label><input type="checkbox" id="amountpaidCheckbox" unchecked>Amount Paid</label>
            <label><input type="checkbox" id="oderdateCheckbox" unchecked>Order Date</label>
            <label><input type="checkbox" id="statusCheckbox" unchecked>Status</label>
        <div>
            <hr>
            <div id="table"></div>
        </div>
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script src="database/js/table.js"></script>
        </body>


{% endblock %}