{% extends "database/base.html" %}
<!--{% import "bootstrap/wtf.html" as wtf %}-->

{% block title %}Customer List{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><h1>Customers List</h1></h1>
</div>
    <body>
        <!--Check Boxes For Column Display Selection-->
        <div id="columnSelection">
            <label><input type="checkbox" id="nameCheckbox" checked>Name</label>
            <label><input type="checkbox" id="emailCheckbox" checked>Email</label>
            <label><input type="checkbox" id="mobileCheckbox" checked>Phone</label>
            <label><input type="checkbox" id="addressCheckbox" checked>Address</label>
            <label><input type="checkbox" id="subscriptionCheckbox" checked>Subscription</label>
            <label><input type="checkbox" id="binCheckbox" checked>Bin Collection</label>
            <label><input type="checkbox" id="invoiceURLCheckbox" checked>Invoice URL</label>
        <div>
            <hr>
            <div id="table"></div>
        </div>
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script src="database/js/table.js"></script>
        </body>


{% endblock %}