<!--Base templates define blocks that
can be overridden by derived templates-->
<!-- The Jinja2 block and endblock directives define
blocks of content that are added to the base template-->

{% extends "bootstrap/base.html" %}

<!-- super() expression allows you to include and 
    override specific sections of the parent
    template while preserving the original contents
    of the block defined in the base templates -->
{% block head %}
    {{ super() }}
    <link rel="icon" href="/stripe/img/favicon.ico" type="image/x-icon" />
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Customers</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

<!--This block includes moment.js on the base.html, since
    this is a predefined block in the Flask-Bootstrap
    base template, the location where this block is inserted
    does not matter
    For more info refer to Flask WebDev p.99-->
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
