{% extends "database/base.html" %}
<!--{% import "bootstrap/wtf.html" as wtf %}-->

{% block title %}United Wheelie Wash DB{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><h1>Hello, {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %} 
        Stranger{% endif %}!</h1></h1>
    {% if not known %}
    <p>Looks like you are new here. Welcome to United Wheelie Wash Database.</p>
    {% endif %}
</div>
<!--Flask-Moment object os available to templates to work with time-stamps
Find a better use for this later-->

<!--<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
<p>I will find a better use for time-stamp later on, this is here as a reminder</p> -->
{% endblock %}